@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    scrollbar-width: 200px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #D7FFFF;
}



::selection {
    background-color: #222327;
    color: aliceblue;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.imagem img {
    width: 100%;
}

.apresentacao h2 {
    font-size: 2rem;
    text-align: center;
    color: black;
}

.apresentacao p {
    font-size: 1.5rem;
    text-align: center;
    line-height: 30px;
    margin: 0;
}

.apresentacao iframe {
    display: flex;
    margin: auto;
    border-radius: 25px;
}

hr {
    margin-top: 20px;
    background-color: cyan;
}

.titulo1 {
    text-align: end;
    margin-top: 20px;
    color: #222327;
    letter-spacing: 2.5px;
    margin-left: 25px;
    margin-bottom: 10px;
    position: relative;
    right: 230px;
}



.impo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.impo p {
    width: 40%;
    text-align: justify;
    letter-spacing: 1.2px;
    line-height: 25px;
    position: relative;
    right: 60px;
    /* margin-left: 20px; */
}

.impo img {
    position: relative;
    /* left: 500px; */
    bottom: 25px;
    border-radius: 15px;
}

.como {
    display: flex;
}

.como p {
    width: 40%;
    text-align: justify;
    letter-spacing: 1.2px;
    line-height: 25px;
    margin-left: 25px;
}

.como img {
    width: 30%;
    position: relative;
    left: 250px;
    bottom: 25px;
    border-radius: 25px;
}


h2 {
    text-align: center;
    margin-top: 20px;
    color: #222327;
    letter-spacing: 2.5px;
    margin-bottom: 10px;
    font-size: 3rem;
}


iframe {
    margin-top: 10px;
}

.p1 p {
    margin-bottom: 25px;
}


.imgImpo{
    border-radius: 5px;
    top: 3px;
    position: relative;
    left: 50px;
}

.pilares{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}


.conhecer{
    /* width: 30%; */
    /* display: flex; */
    text-align: center;
    align-items: center;
    justify-content: center;
}


#como {
    margin-bottom: 25px;
    margin-left: 25px;


}
.conhecer h3{
    color: grey;
    text-transform: uppercase;

    
}

.conhecer img {
    width: 20%;
}

.conhecer p {
    width: 50%;
    color: dimgray;
    font-weight: 400;
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
}
